NEXT_PUBLIC_API_URL=https://back-gastroflow.onrender.com #para deploy
#NEXT_PUBLIC_API_URL= http://localhost:3000  aqui para local ej.

#Generan un .env y copian la variable que necesiten de las de arriba 