.card {
  width: 380px;
  height: auto;
  background: #1b1919ee;
  border-radius: 25px;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 30px;
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.2);
  font-family: Arial, Helvetica, sans-serif;
}

.avatar {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  background-color: #cfcfcf;
  border: 3px solid #fb7050;
  position: relative;
}

.avatar button {
  position: absolute;
  bottom: 6;
  right: 6;
  background-color: #fb7050;
  border-radius: 50%;
  width: 27px;
  height: 27px;
  color: #1b1919ee;
  display: flex;
  justify-content: center;
  align-items: center;
}

.avatar button:hover{
  cursor: pointer;
}

.name {
  margin-top: 15px;
  font-size: 25px;
  font-weight: 600;
}

.role {
  font-size: 13px;
  letter-spacing: 2px;
  opacity: 0.8;
  margin-bottom: 30px;
}

.infoRow {
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  border-top: 2px solid #F2EFDF;
}

.half {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.half:first-child {
  border-right: 2px solid #F2EFDF;
}

.label {
  font-size: 11px;
  letter-spacing: 1px;
  opacity: 0.7;
  margin-bottom: 5px;
  color: #F2EFDF;
}

.value {
  font-size: 13px;

    color: #F2EFDF;
}
