.profile {
  width: 100vw;
  height: 70vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.userLayout {
  display: flex;
  gap: 30px;
  width: 100%;
  max-width: 900px;
  justify-content: center;
}

