@import "tailwindcss";

@theme {
  --color-gastro-coral: #ff7a45;
  --color-gastro-magenta: #ff3f7e;
}

@layer base {
  *, ::after, ::before {
    box-sizing: border-box;
  }
  html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
  }
}

