.card {
  --accent-gradient-start: #f97316;
  --accent-gradient-end: #ec4899;
  width: 100%;
  max-width: 380px;
  background: #0b0f20;
  border-radius: 25px;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 30px;
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.2);
}

.avatarWrapper {
  position: relative;
  width: 155px;
  height: 155px;
}

.avatar {
  width: 155px;
  height: 155px;
  border-radius: 50%;
  border: 5px solid transparent;
  background:
    linear-gradient(#cfcfcf, #cfcfcf) padding-box,
    linear-gradient(
      to right,
      var(--accent-gradient-start),
      var(--accent-gradient-end)
    ) border-box;
  position: relative;
  transition: 0.3s;
  overflow: hidden;
}

.avatarWrapper button {
  position: absolute;
  right: 10;
  bottom: 10;
  z-index: 10;
  background-color: #fb7050;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  cursor: pointer;
  transition: all 300ms;
}

.avatarWrapper button:hover{
  background-color: white;
  color: #fb7050;
}

.name {
  margin-top: 15px;
  font-size: 25px;
  font-weight: 600;
}

.role {
  font-size: 13px;
  letter-spacing: 2px;
  opacity: 0.8;
  margin-bottom: 30px;
}

.infoRow {
  height: 70px;
  display: flex;
  width: 100%;
  position: relative;
}

.infoRow::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background: linear-gradient(
    to right,
    var(--accent-gradient-start),
    var(--accent-gradient-end)
  );
}

.half {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  word-break: break-all;
  position: relative;
}

.half:first-child {
  border-right: none;
}

.half:first-child::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(
    to bottom,
    var(--accent-gradient-start),
    var(--accent-gradient-end)
  );
}

.label {
  font-size: 11px;
  opacity: 0.7;
  margin-bottom: 5px;
}

.value {
  font-size: 13px;
}

@media (max-width: 768px) {
  .card {
    padding-top: 20px;
    border-radius: 20px;
  }

  .avatar {
    width: 140px;
    height: 140px;
    border-width: 4px;
  }

  .name {
    font-size: 20px;
  }

  .role {
    font-size: 11px;
    margin-bottom: 20px;
  }

  .infoRow {
    height: 60px;
  }

  .label {
    font-size: 10px;
  }

  .value {
    font-size: 12px;
  }
}
