.profile {
  min-height: 100vh;
  width: 100%; 
  margin: 0;
  padding: 40px 20px;
  background: rgb(34, 33, 33);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.profile h2{
    text-align: center;
}

.userLayout{
    display: flex;
    justify-content: center;
    gap: 30px;
}